<table class="table table-striped">
<thead>
    <tr class="table-dark">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Sales Volume</th>
            <th>Met Quota</th>

    </tr>
</thead>
<tbody>
    <tr *ngFor="let salesPerson of salesPersonList" 
    [ngClass]="{'metquota' : salesPerson.salesVolume >= 60000, 
    'notmet':salesPerson.salesVolume < 60000}">
        <td>{{ salesPerson.firstName }}</td>
        <td>{{ salesPerson.lastName }}</td>
        <td>{{ salesPerson.email }}</td>
        <td>{{ salesPerson.salesVolume | currency: 'USD' }}</td>

        <td>
            <div *ngIf="salesPerson.salesVolume >= 60000; else myElseBlock">Yes</div>
            <ng-template #myElseBlock>No</ng-template>
    
        </td>
    </tr>
</tbody>
</table>
